body,
html {
    font-family: 'Nunito Sans', sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.bg {
    background: url(./Image1.png) no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

header {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 50px;
    padding-top: 20px;
}

.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.container1>div {
    text-align: center;
}

.item1,
.item2,
.item3 {
    font-size: 2rem;
    font-weight: bold;
    color: #5361C2;
}

.item4,
.item5,
.item6 {
    font-size: 0.7rem;
    font-weight: bold;
    color: dimgray;
}

.container2 {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* width: 100%; */
    /* width: 90%; */
    /* max-width: 1240px; */
    /* margin: 0 auto; */
    justify-content: space-around;
    margin-top: 2.5rem;
    /* align-content: space-between; */
    /* align-items: space-between; */
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3%;
    width: 300px;
    height: 200px;
    opacity: 1;
    z-index: 1;
    display: flex;
    flex-direction: column;
    /* flex: 0 0 auto; */
}

.card-above {
    /* height: 130px; */
    color: grey;
    padding: 15px 25px 40px 25px;
    text-align: left;
}

.card-bottom {
    /* height: 100px; */
    text-align: center;
    padding-bottom: 20px;
}

.card2 {
    margin-top: 70px;
}

.card3 {
    margin-top: 30px;
}

.cardb1 {
    background-color: #FB8B8A;
}

.cardb2 {
    background-color: #5C6AC4;
}

.cardb3 {
    background-color: #47C1BF;
}

.name {
    padding-top: 2.5rem;
    font-size: 1rem;
}

.badge {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    position: absolute;
    /* transform: translate(120px, -135px); */
    transform: translate(120px, 115px);
}