@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
    font-family: "Raleway";
    /* text-align: center; */
    /* height: 100%;
    width: 100%; */
    /* margin: 0; */
    padding: 0;
}

header {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    color: blue;
    background-color: lightblue;
}

article {
    text-align: center;
    border: lightblue solid 3px;
}


/* h1 {
    text-align: center;
} */

.container_about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col2 {
    text-align: left;
    margin-left: 40px;
}

ul {
    /* display: flex;
    flex-direction: column; */
    list-style: none;
    /* align-content: space-between; */
    /* justify-content: center; */
}