@import url('https://fonts.googleapis.com/css?family=Raleway');
html,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Raleway";
}


/* nav {
    display: flex;
    justify-content: space-between;
} */

.navbar-collapse {
    justify-content: flex-end;
}

.text-center {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}